@media all and (max-width: 800px) {
    body {
        background: red;
        min-width: auto;
    }
    .header{
    	width: 800px;
    }
    .container {
        width: 800px;
    }
    div.main_banner{
    	min-width: 800px;
    }
    .footer-bottom dd {
        &.left-box ul {
            padding-left: 30px;
        }
        &.right-box div {
        	padding-left: 88px;
        }
    }
    .footer-top li{
    	width: 130px;
    }
}

