div.footer-top
	ul.container
		li: a(href="")
			img(src="./images/item_01.png")
			div 新品尝鲜
		li: a(href="")
			img(src="./images/item_02.png")
			div 食材展示
		li: a(href="")
			img(src="./images/item_03.png")
			div 健身e族
		li: a(href="")
			img(src="./images/item_04.png")
			div 男神女神私厨秀
		li: a(href="")
			img(src="./images/item_05.png")
			div 大咖说
		li: a(href="")
			img(src="./images/item_06.png")
			div 我们
div.footer-bottom
	dl.container
		dd
			div.left-box
				div 000 000 0000   9:00 am ~ 8:00 pm
				div Email: AAAAAA@AAA.com
		dd
			div.right-box
				label 订餐微信二维码
				img(src="./images/code.png")