div.header
	div.bg01
	div.bg02
	div.container
		a.logo(href="javascript:;")
		div.nav
			div
				ul.nav-left
					li.active
						a(href="") 首页
					li
						a(href="") 餐品
			div
				ul.nav-right
					li
						a(href="") 食材
					li
						a(href="") 我们