div.swiper-container.main_banner
	a.arrow-left(href="javascript:;")
	a.arrow-right(href="javascript:;")
	div.swiper-wrapper
		div.swiper-slide(style="background-image:url(./pic/food-banner.jpg)"): a(href="#")
		div.swiper-slide(style="background-image:url(./pic/banner02.jpg)"): a(href="#")
		div.swiper-slide(style="background-image:url(./pic/banner03.jpg)"): a(href="#")
		div.swiper-slide(style="background-image:url(./pic/banner04.jpg)"): a(href="#")
		div.swiper-slide(style="background-image:url(./pic/banner05.jpg)"): a(href="#")
	//- div.pagination.pagination0
