extends ./layout/layout
block append head
	title 首页
block header
	div.header
		div.container
			a.logo(href="javascript:;")
			div.bg
			div.nav
				div
					ul.nav-left
						li.active
							a(href="") 首页
						li
							a(href="") 餐品
				div
					ul.nav-right
						li
							a(href="") 食材
						li
							a(href="") 我们
block content
	include ./components/swiper
block append script
	script(src="./js/idangerous.swiper.min.js")
	script.
		$(function(){
			//首页轮播
			$('.main_banner').each(function(index) {
				var count = $(this).find(".swiper-slide").length;
				if (count > 1) {
					var $this = $(this).swiper({
						pagination: '.pagination' + index, //分页标记
						loop: true, //循环
						autoplay: 5000, //自动播放，不指定默认不播放，单位为ms
						autoplayDisableOnInteraction: false,
						speed: 1000,
						paginationClickable: true //分页标记是否可点击
					});
					//向左翻页
					$(this).find('.arrow-left').on('click', function(e) {
						e.preventDefault() //阻止默认的
						$this.swipePrev() //前一个
					});
					//向右翻页
					$(this).find('.arrow-right').on('click', function(e) {
						e.preventDefault() //阻止默认的
						$this.swipeNext() //后一个
					});
					$(this).hover(function() {
						$this.stopAutoplay();
					}, function() {
						$this.startAutoplay();
					});
				} else {
					$(this).swiper({
						autoplay: false //自动播放，不指定默认不播放，单位为ms
					});
					$(this).find('.arrow-left').hide();
					$(this).find('.arrow-right').hide();
				}
			});
		});

	