$browser-minimum-versions: ("ie": "6");
@import "compass","components/swiper";
//大轮播banner
$arrow-spacing: 4px;
$arrow-sprite-dimensions:true;
@import "arrow/*.png";
@include all-arrow-sprites;

.main_banner {
    min-width: 1200px;
    *width: 100%;
    margin: 0 auto;
    height: 400px;
    border-bottom: 10px solid #32b16c;
    background: #f4f4f4;
    .swiper-wrapper {
        background: transparent;
    }
    .arrow-left {
        position: absolute;
        left: 60px;
        top: 50%;
        margin-top: -15px;
        z-index: 2;
    }
    .arrow-right {
        position: absolute;
        right: 60px;
        top: 50%;
        margin-top: -15px;
        z-index: 2;
    }
    .swiper-slide {
        background-position: center;
        background-repeat: no-repeat;
        a {
            display: block;
            height: 100%;
        }
    }
    .pagination {
        position: absolute;
        left: 0;
        text-align: center;
        bottom: 0;
        width: 100%;
        padding-top: 50px;
        z-index: 2;
    }
    .swiper-pagination-switch {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 3px;
        border-radius: 10px;
        background: #595858;
        font-size: 0\9;
        cursor: pointer;
    }
    .swiper-pagination-switch {
        *display: inline;
    }
    .swiper-active-switch {
        background: red;
    }
}
.section02{
    position: relative;
    margin-top: 60px;
    .filter{
        position: absolute;
        top: 0;
        right: 0;
        line-height: 30px;
        a{
            color: #000;
            margin-left: 20px;
            &.active{
                color: #32b16c;
            }
        }
    }
    a{
        text-decoration: none;
    }
    dl{
        margin: 35px -30px 0 0;
        overflow: hidden;
    }
    dd{
        float: left;
        margin: 0 30px 50px 0;
        .img-box{
            width: 360px;
            height: 208px;
            background: #fff;
            img{
                vertical-align: top;
            }
        }
    }
    .b-title{
        text-align: right;
        line-height: 48px;
        font-size: 18px;
        color: #333;
    }
    .name{
        float: left;
        margin: 0;
        font-weight: normal;
    }
}