@import "sprite";
.footer-top{
	background: #32b16c;
	ul{
		padding: 0;
		list-style: none;
		text-align: center;
		font-size: 0;
	}
	li{
		display: inline-block;
		width: 170px;
		a{
			display: block;
			padding: 30px 0;
			text-decoration: none;
		}
		div{
			margin-top: 20px;
			font-size: 18px;
			color: #fff;
		}
	}
}
.footer-bottom{
	background: #1b1b1b;
	dl{
		padding: 60px 0 50px 0;
		&.container{
			overflow: hidden;
		}
	}
	dd{
		float: left;
		width: 50%;
		margin: 0;
		&.left-box{
			ul{
				margin: 0;
				padding: 25px 0 0 130px;
				list-style: none;
				font-size: 18px;
				color: #fff;
			}
			i{
				display: inline-block;
				margin-right: 10px;
				vertical-align: middle;
			}
			span{
				font-size: 14px;
				margin-left: 18px;
			}
		}
		&.right-box{
			div{
				height: 110px;
				padding-left: 148px;
				border-left: 2px solid #c6c6c6;
				color: #fff;
			}
			label{
				margin-right: 36px;
			}
			img{
				vertical-align: middle;
			}
		}
	}
	
}
